<div class="row">
  <div class="col-lg-2">
    <%= render 'admin/nav' %>
  </div>
  <div class="col-lg-10">
    <div class="card">
      <div class="card-header text-muted"><%= title %w[Billings Admin], 'Billings' %></div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Username</th>
              <th scope="col">Date</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            <% @charges.each do |charge| %>
              <tr>
                <% if charge.user.nil? %>
                  <th scope="row">-</th>
                <% else %>
                  <th scope="row"><%= link_to charge.user.username, charge.user %></th>
                <% end %>
                <td><%= timeago_tag charge.created_at %></td>
                <td><%= format_money(charge.amount, charge.currency) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
