<% if user_signed_in? %>
  <div class="btn-group float-right" role="group" style="position:absolute;right:15px;z-index:1">
    <% if current_user == @user %>
      <%= link_to edit_user_path(@user), class: 'btn btn-outline-primary', role: 'button' do %>
        <%= fa_icon("pencil") %> Edit profile
      <% end %>
    <% elsif @user.followers.include?(current_user) %>
      <%= link_to "Unfollow", unfollow_user_path(@user), method: :put, class: 'btn btn-outline-primary', role: 'button' %>
    <% else %>
      <%= link_to "Follow", follow_user_path(@user), method: :put, class: 'btn btn-outline-primary', role: 'button' %>
    <% end %>
  </div>
<% end %>

<div class="row align-items-center">
  <div class="col col-sm-auto text-sm-left text-center mb-3 mb-sm-0">
    <% if @user.avatar? %>
      <%= image_tag(@user.avatar.thumb_url('100x100'), alt: 'avatar', class: 'rounded-circle', width: 100, height: 100) %>
    <% else %>
      <span class="rounded-circle align-bottom d-inline-block text-white" style="background:#ccc;width:100px;height:100px">
        <i class="fa fa-user-o align-top text-center" style="width:100px;line-height:95px;font-size:70px" aria-hidden="true"></i>
      </span>
    <% end %>
  </div>
  <div class="col-sm text-sm-left text-center">
    <h1 class="mb-0">
      <%= @user.name %>
    </h1>
  </div>
</div>

<hr class="mt-4 mb-4">

<ul class="nav nav-pills">
  <li class="nav-item">
    <%= link_to 'Pictures', @user, class: "nav-link#{body_class == 'users-show' ? ' active' : ''}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Albums', user_albums_path(@user), class: "nav-link#{body_class == 'albums-index' ? ' active' : ''}" %>
  </li>
</ul>
