<%= bootstrap_devise_error_messages! %>

<div class="row justify-content-center">
  <div class="col-lg-6">
    <div class="card">
      <h4 class="card-header"><%= t('.forgot_your_password', default: 'Forgot your password?') %></h4>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, role: 'form' }) do |f| %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, class: 'form-control' %>
            <span class="form-text text-muted">You will receive a link to reset your password.</span>
          </div>

          <%= f.submit 'Submit', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
