<% description t('welcome.description') %>

<div class="text-center d-flex flex-column justify-content-center" style="flex-grow:1">
  <%= t('welcome.body_html') %>

  <p class="mt-5">
    <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-lg btn-primary', role: 'button' %>
  </p>

</div>

<div id="read-more" class="text-center">
  <%= fa_icon 'chevron-down' %>
</div>

</div><!-- end layout container -->
</div><!-- end layout wrapper -->

<div class="d-flex justify-content-center align-items-center p-3" style="min-height:100vh;background:white;color:#444">
  <div class="my-5 mx-sm-5">
    <div class="row align-items-center">
      <div class="col-md-5 order-md-1">
        <h2 class="display-4 mb-4" style="color:#0C9">What is Picture?</h2>
        <p class="lead">
          Picture is a website where you can upload and share with the world your best visual creations.
        </p>
        <p class="">
          <%= link_to 'Explore the community', explore_path, class: 'btn btn-lg btn-outline-primary mt-4', role: 'button' %>
        </p>
      </div>

      <div class="col-md-7 order-md-2 mt-4 mt-md-0">
        <div class="tablet">
          <%= image_tag('screenshots/screenshot-tablet-explore.jpg') %>
        </div>
      </div>
    </div>

    <hr class="my-5" style="opacity:0">

    <div class="row align-items-center">
      <div class="col-md-5 order-md-2">
        <h2 class="display-4 mb-4" style="color:#0C9">Stay in control of your content</h2>
        <p class="lead">
          You publish your content with the license of your choice and you can control, at any time, who will be able to see it.
        </p>
      </div>

      <div class="col-md-7 order-md-1 mt-4 mt-md-0">
        <div class="tablet">
          <%= image_tag('screenshots/screenshot-tablet-lightbox.jpg') %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center align-items-center p-3" style="min-height:50vh;background:#0C9;color:#fffe">
  <div class="my-5" style="max-width:45em">
    <h2 class="display-4 mb-4 text-center">Features</h2>
    <ol class="lead">
      <li class="py-2">No advertising, no tracking, no lock in.</li>
      <li class="py-2">High quality images, Creative Commons licenses.</li>
      <li class="py-2">Albums, tags, feeds, followers, likes, and more.</li>
    </ol>
  </div>
</div>

<div class="d-flex justify-content-center align-items-center p-3" style="min-height:100vh;background:white;color:#444">
  <div class="my-5 mx-sm-5">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h2 class="display-4 mb-4" style="color:#0C9">Try it for free</h2>
        <p class="lead">
          When you create an account, we give you 100MB of storage
          and data transfer to try the service for free.
        </p>
        <p class="lead">
          And of course you don't have to pay to follow other people and see their
          latest update.
        </p>
        <p class="mt-4">
          <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-lg btn-primary', role: 'button' %>
          <%= link_to 'See pricing', pricing_path, class: 'btn btn-lg btn-outline-primary ml-2', role: 'button' %>
        </p>
      </div>

      <div class="col-md-6 mt-4 mt-md-0">
        <div class="phone">
          <%= image_tag('screenshots/screenshot-phone-timeline.jpg') %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper d-flex flex-column" style="background:#034;color:#fffe"><!-- begin layout wrapper -->
<div class="container align-items-center"><!-- begin layout container -->

  <!--<div class="d-flex justify-content-center p-3">-->
  <div class="my-5" style="max-width:45em">
    <h2 class="display-4 mb-4">Host your own instance</h2>
    <p class="lead">
      Picture is open source so you can also
      <a href="https://github.com/vinc/pi.ctu.re">host your own instance</a>
      and be part of the decentralized web.
    </p>
    <p class="text-center my-5">
      <a href="https://github.com/vinc/pi.ctu.re" style="color:#fff3"><%= fa_icon 'github 4x' %></a>
    </p>
  </div>
