<% description t(".description") %>

<div class="text-center d-flex flex-column justify-content-center" style="flex-grow:1">
  <h1 class="display-4 text-white"><%= t(".sections.first.title_html") %></h1>

  <p class="mt-5">
    <%= link_to t("devise.registrations.new.sign_up"), new_user_registration_path, class: "btn btn-lg btn-primary", role: "button" %>
  </p>

</div>

<div id="read-more" class="text-center">
  <a href="#what-is-picture" class="text-white p-4"><%= fa_icon "chevron-down" %></a>
</div>

</div><!-- end layout container -->
</div><!-- end layout wrapper -->

<div id="what-is-picture" class="d-flex justify-content-center align-items-center py-3" style="min-height:100vh;background:white;color:#444">
  <div class="container my-5">
    <div class="row align-items-center">
      <div class="col-md-5 order-md-1">
        <h2 class="display-4 mb-4" style="color:#0C9"><%= t(".sections.what.title") %></h2>
        <div class="lead">
          <%= render_markdown(t(".sections.what.description_markdown")) %>
        </div>
        <p class="mt-4">
          <%= link_to t(".sections.what.cta"), explore_path, class: "btn btn-lg btn-outline-primary", role: "button" %>
        </p>
      </div>

      <div class="col-md-7 order-md-2 mt-4 mt-md-0">
        <div class="tablet">
          <%= image_tag("screenshots/screenshot-tablet-explore.jpg") %>
        </div>
      </div>
    </div>

    <hr class="my-5" style="opacity:0">

    <div class="row align-items-center">
      <div class="col-md-5 order-md-2">
        <h2 class="display-4 mb-4" style="color:#0C9"><%= t(".sections.why.title") %></h2>
        <div class="lead">
          <%= render_markdown(t(".sections.why.description_markdown")) %>
        </div>
      </div>

      <div class="col-md-7 order-md-1 mt-4 mt-md-0">
        <div class="tablet">
          <%= image_tag("screenshots/screenshot-tablet-lightbox.jpg") %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center align-items-center p-3" style="min-height:50vh;background:#0C9;color:#fffe">
  <div class="my-5" style="max-width:45em">
    <h2 class="display-4 mb-4 text-center"><%= t(".sections.features.title") %></h2>
    <div class="lead">
      <%= render_markdown(t(".sections.features.description_markdown")) %>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center align-items-center p-3" style="min-height:100vh;background:white;color:#444">
  <div class="container my-5">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h2 class="display-4 mb-4" style="color:#0C9"><%= t(".sections.price.title") %></h2>
        <div class="lead">
          <%= render_markdown(t(".sections.price.description_markdown")) %>
        </div>
        <div class="row mt-4">
          <div class="col-sm-auto pr-0 mb-3">
            <%= link_to t("devise.registrations.new.sign_up"), new_user_registration_path, class: "btn btn-lg btn-primary", role: "button" %>
          </div>
          <div class="col-sm pl-0 ml-3 mb-3">
            <%= link_to t(".sections.price.cta"), pricing_path, class: "btn btn-lg btn-outline-primary", role: "button" %>
          </div>
        </div>
      </div>

      <div class="col-md-6 mt-4 mt-md-0 text-center">
        <div class="phone">
          <%= image_tag("screenshots/screenshot-phone-timeline.jpg") %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper d-flex flex-column" style="background:#034;color:#fffe"><!-- begin layout wrapper -->
<div class="container align-items-center"><!-- begin layout container -->

  <div class="my-5" style="max-width:45em">
    <h2 class="display-4 mb-4"><%= t(".sections.open_source.title") %></h2>
    <div class="lead">
      <%= render_markdown(t(".sections.open_source.description_markdown")) %>
    </div>
    <p class="text-center my-5">
      <a href="https://github.com/vinc/pi.ctu.re" style="color:#fff3"><%= fa_icon "github 4x" %></a>
    </p>
  </div>
