<%= form_for(invitation) do |f| %>
  <% if invitation.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= form_errors_heading(invitation) %></h4>

      <ul>
        <% invitation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, required: true, autocomplete: "email", class: "form-control #{"is-invalid" if invitation.errors[:email].any?}" %>
  </div>

  <%= f.submit class: 'btn btn-primary btn-block' %>
<% end %>
