<%= form_for(invitation) do |f| %>
  <div class="alert alert-info" role="alert">
    <%= t('registration.intro_html') %>
  </div>

  <% if invitation.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= pluralize(invitation.errors.count, "error") %> prohibited this invitation from being saved:</h4>

      <ul>
        <% invitation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control #{"is-invalid" if invitation.errors[:email].any?}" %>
  </div>

  <%= f.submit 'Request invitation', class: 'btn btn-primary btn-block' %>
<% end %>
