<div class="card-columns mt-4">
  <% if local_assigns.has_key?(:user) && user_signed_in? && current_user == user %>
    <%= link_to new_album_path do %>
      <div class="card bg-primary text-white">
        <div class="card-body">
          <h4 class="card-title">New album</h4>
          <p class="card-text">Create a new album to organize your pictures.</p>
        </div>
      </div>
    <% end %>
  <% end %>

  <% albums.each do |album| %>
    <%= link_to album do %>
      <div class="card">
        <% if album.pictures.public_setting.enabled.count.positive? %>
          <%= image_tag(album.pictures.public_setting.enabled.first.image.thumb_url('500x500!').to_s, alt: album.title, class: 'card-img-top img-fluid') %>
        <% end %>
        <div class="card-body">
          <h4 class="card-title overflow-hidden"><%= album.title %></h4>
          <p class="card-text text-muted"><%= t('picture', count: album.pictures.public_setting.enabled.count) %></p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Updated <%= timeago_tag album.updated_at %></small>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
