<%= form_for(album) do |f| %>
  <% if album.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h4>

      <ul>
      <% album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <p class="mb-2">Pictures</p>
  <div class="form-group d-flex flex-wrap" style="margin:-0.5rem">
    <%= f.collection_check_boxes :picture_ids, current_user.pictures.order_by_time, :id, :id, { selected: album.picture_ids } do |b| %>
      <% b.label class: 'form-check-label', style: 'width:33%;padding:0.5rem' do %>
        <%= image_tag(b.object.image.thumb_url('200x200!').to_s, style:'width:100%;height:auto') %>
        <%= b.check_box class: 'form-check-input' %>
      <% end %>
    <% end %>
  </div>

  <div class="mt-3">
    <% if album.persisted? %>
      <%= link_to 'Delete', album, method: :delete, data: { confirm: 'This album will be deleted, are you sure?' }, class: 'btn btn-link text-danger pull-right px-0', role: 'button' %>
    <% end %>

    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
