<div class="row justify-content-center">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header text-muted"><%= title t('.sign_in') %></div>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form' }) do |f| %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, required: true, autocomplete: "email", class: "form-control #{"is-invalid" if resource.errors[:email].any?}" %>
          </div>

          <div class="form-group">
            <span class="pull-right"><%= link_to t('.forgot_your_password', default: 'Forgot password?'), new_password_path(resource_name) %></span>
            <%= f.label :password %>
            <%= f.password_field :password, required: true, autocomplete: "current-password", class: "form-control #{"is-invalid" if resource.errors[:password].any?}" %>
          </div>

          <!--
          <% if devise_mapping.rememberable? %>
            <div class="form-check">
              <%= f.label :remember_me, class: 'form-check-label' do %>
                <%= f.check_box :remember_me, class: 'form-check-input' %>
                <%= t('.remember_me', default: 'Remember me') %>
              <% end %>
            </div>
          <% end %>
          -->

          <%= f.submit t('.sign_in', default: 'Sign in'), class: 'btn btn-primary btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
