<div class="row">
  <div class="col-lg-3">
    <%= render 'account/nav' %>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header text-muted"><%= title 'Billing' %></div>
      <div class="card-body">
        <h5 class="card-title text-right">
          <span class="text-left float-left">
            Data balance
          </span>
          <% if current_user.balance > 0 %>
            <span class="text-success text-right"><%= number_to_human_size(current_user.balance) %></span>
          <% else %>
            <span class="text-danger text-right">-<%= number_to_human_size(-current_user.balance) %></span>
          <% end %>
        </h5>
        <p class="card-text text-muted">
          You must have a positive balance to upload new pictures and cover the
          <%= link_to 'costs of data storage and transfer', pricing_path %>.
        </p>

        <hr>

        <h5 class="card-title">
          Top up
        </h5>
        <p class="card-text">
          The current rate is <strong>&euro;1.00 per GB</strong>.
        </p>
        <%= render 'form' %>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-header text-muted">Billing History</div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            <% @charges.each do |charge| %>
              <tr>
                <td><%= timeago_tag charge.created_at %></td>
                <td><%= number_to_currency(charge.amount) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
