<%= form_for(picture) do |f| %>
  <% if picture.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h4>

      <ul>
      <% picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% unless picture.persisted? %>
    <div class="form-group">
      <%= f.label :image %>
      <label class="custom-file d-block">
        <%= f.file_field :image, class: 'custom-file-input', accept: 'image/jpeg' %>
        <span class="custom-file-control" data-content="Choose file..."></span>
      </label>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :caption %>
    <%= f.text_area :caption, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :album_ids, 'Albums' %>
    <%= f.collection_select :album_ids, current_user.albums, :id, :title, { selected: picture.album_ids }, { class: 'form-control', multiple: true } %>
  </div>

  <div class="">
    <%= f.submit class: 'btn btn-primary' %>

    <% if picture.persisted? %>
      <%= link_to 'or delete?', @picture, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-link text-danger', role: 'button' %>
    <% end %>
  </div>
<% end %>
