<%= form_for(picture) do |f| %>
  <% if picture.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h4>

      <ul>
      <% picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% unless picture.persisted? %>
    <div class="form-group">
      <%= f.label :image %>
      <%= f.file_field :image, class: 'form-control-file' %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :caption %>
    <%= f.text_area :caption, class: 'form-control' %>
  </div>

  <div class="">
    <%= f.submit class: 'btn btn-primary' %>

    <% if picture.persisted? %>
      <%= link_to 'or delete?', @picture, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-link text-danger', role: 'button' %>
    <% end %>
  </div>
<% end %>
