<div class="row justify-content-center">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header text-muted"><%= title t('pictures.form.upload_many_pictures') %></div>
      <div class="card-body">
        <% unless policy(Picture).upload? %>
          <div class="alert alert-danger" role="alert">
            <strong>Warning!</strong>
            Your data balance is <strong>-<%= number_to_human_size(-current_user.balance) %></strong>,
            you need to <%= link_to 'top up', account_billing_path, class: 'alert-link' %> before uploading
            new pictures.
          </div>
        <% end %>

        <%= form_for(Picture.new, html: { class: "custom-dropzone d-flex flex-wrap border-primary bg-light", style: "border:dashed 2px" }) do |f| %>
          <div class="text-center text-primary my-4 dz-message d-flex flex-column align-items-center justify-content-center">
            <div><%= fa_icon("cloud-upload 3x") %></div>
            <div>Drop files here to upload</div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
