<% content_for(:title, "Explore #{params[:order] == 'time' ? 'most recent' : 'most viewed'} pictures") %>
<% content_for(:nav, 'explore') %>

<div class="dropdown">
  Explore
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <%= params[:order] == 'time' ? 'most recent' : 'most viewed' %>
  </a>
  <div class="dropdown-menu">
    <%= link_to 'most viewed', pictures_path(order: 'view'), class: 'dropdown-item' %>
    <%= link_to 'most recent', pictures_path(order: 'time'), class: 'dropdown-item' %>
  </div>
</div>

<div id="gallery" class="justified-gallery loading mt-3">
  <% @pictures.each do |picture| %>
    <%= link_to picture do %>
      <%= image_tag(picture.image_url(:thumb).to_s, alt: picture.caption) %>
    <% end %>
  <% end %>
</div>
