<p id="notice"><%= notice %></p>

<%= image_tag(@picture.image_url.to_s) %>

<p>
  <strong>Caption:</strong>
  <%= @picture.caption %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
