<p id="notice"><%= notice %></p>

<p><%= image_tag(@picture.image_url.to_s) %></p>

<p><%= @picture.caption %></p>

<%= link_to 'Back', pictures_path %> |
<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Destroy', @picture, method: :delete, data: { confirm: 'Are you sure?' } %>
