<% content_for(:title, "#{truncate(@picture.caption.presence || 'Picture', length: 100, separator: '.')} by #{@picture.user.name} (#{@picture.token})") %>

<div class="row" style="position:relative">
  <div class="col-md-8">
    <nav aria-label="picture pagination">
      <ul class="pagination pagination justify-content-center">
        <% if @previous_picture %>
          <li class="page-item">
            <%= link_to picture_path(@previous_picture, from: @from, order: @order), class: 'page-link', aria_label: 'previous' do %>
              <%= fa_icon("chevron-left") %>
              <span class="sr-only">Previous</span>
            <% end %>
          </li>
        <% else %>
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-label="previous">
              <%= fa_icon("chevron-left") %>
              <span class="sr-only">Previous</span>
            </a>
          </li>
        <% end %>
        <% if @next_picture %>
          <li class="page-item">
            <%= link_to picture_path(@next_picture, from: @from, order: @order), class: 'page-link', aria_label: 'next' do %>
              <%= fa_icon("chevron-right") %>
              <span class="sr-only">Next</span>
            <% end %>
          </li>
        <% else %>
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-label="next">
              <%= fa_icon("chevron-right") %>
              <span class="sr-only">Next</span>
            </a>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
  <div class="mr-3" style="position:absolute;right:0">
    <% if user_signed_in? %>
      <span class="d-none d-sm-inline">
      <% if current_user.admin? && @picture.public_setting? %>
        <% if @picture.is_featured %>
          <%= link_to picture_featured_path(@picture), method: :delete, class: 'btn btn-outline-warning', role: 'button' do %>
            <%= fa_icon("check") %> Unpick
          <% end %>
        <% else %>
          <%= link_to picture_featured_path(@picture), method: :post, class: 'btn btn-outline-warning', role: 'button' do %>
            <%= fa_icon("check") %> Pick
          <% end %>
        <% end %>
      <% end %>
      </span>

      <% if @picture.user_id == current_user.id %>
        <%= link_to edit_picture_path(@picture), class: 'btn btn-outline-primary ml-1', role: 'button' do %>
          <%= fa_icon("pencil") %> Edit
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <%= link_to(picture_lightbox_path(@picture, secret: @picture.protected_secret, from: @from, order: @order), style: 'cursor:zoom-in') do %>
      <%= image_tag(@picture.image.thumb_url('800x800'), alt: @picture.alt, class: 'img-fluid mx-auto d-block', style: 'max-height:75vh') %>
    <% end %>
  </div>

  <div class="col-md-4 d-flex flex-column mt-3 mt-md-0">
    <div>
      <p><%= render 'pictures/user', picture: @picture %></p>

      <% if @picture.caption.present? %>
        <%= picture_caption_format(@picture.caption) %>
      <% end %>
    </div>

    <div class="mt-auto">
      <p>
        License:
        <a href="http://creativecommons.org/licenses/<%= @picture.user.default_license.sub('CC ', '').downcase %>/4.0/">
          <%= @picture.user.default_license %>
        </a>
      </p>

      <hr>

      <p>
        <%= pluralize(@picture.get_likes.size, 'like') %>,
        <%= pluralize(@picture.views_count, 'view') %>
      </p>

      <div class="btn-toolbar" role="toolbar" aria-label="Picture social toolbar">
        <div class="btn-group mr-2" role="group">
          <% if user_signed_in? && current_user.liked?(@picture) %>
            <%= link_to picture_like_path(@picture), method: :delete, class: 'btn btn-outline-secondary', role: 'button' do %>
              <%= fa_icon("heart") %> Unlike
            <% end %>
          <% else %>
            <%= link_to picture_like_path(@picture), method: :post, class: 'btn btn-outline-secondary', role: 'button' do %>
              <%= fa_icon("heart") %> Like
            <% end %>
          <% end %>
        </div>

        <div class="btn-group" role="group">
          <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#shareModal"<%= @picture.private_setting? ? "disabled" : "" %>>
            <%= fa_icon("share") %> Share
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @picture.exif.exif? %>
  <div class="mt-5">
    <h3>Informations</h3>

    <table class="table">
      <% if @picture.exif.date_time %>
        <tr>
          <th scope="row">Date</th>
          <td><%= @picture.exif.date_time.strftime('%F %T') %></td>
        </tr>
      <% end %>

      <% if @picture.exif.model %>
        <tr>
          <th scope="row">Camera</th>
          <td><%= @picture.exif.model %></td>
        </tr>
      <% end %>

      <% if @picture.exif.focal_length %>
        <tr>
          <th scope="row">Focal Length</th>
          <td><%= @picture.exif.focal_length.to_f %> mm</td>
        </tr>
      <% end %>

      <% if @picture.exif.f_number %>
        <tr>
          <th scope="row">Apperture</th>
          <td>f/<%= @picture.exif.f_number.to_f %></td>
        </tr>
      <% end %>

      <% if @picture.exif.exposure_time %>
        <tr>
          <th scope="row">Exposure Time</th>
          <td><%= @picture.exif.exposure_time.to_s.sub(/\/1$/, '') %> s</td>
        </tr>
      <% end %>

      <% if @picture.exif.iso_speed_ratings %>
        <tr>
          <th scope="row">ISO</th>
          <td><%= @picture.exif.iso_speed_ratings %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>

<% unless @picture.albums.empty? %>
  <div class="mt-5">
    <h3>Albums</h3>

    <%= render 'albums/albums', albums: @picture.albums.order_by_time %>
  </div>
<% end %>

<%= render partial: 'share_modal' %>
