<footer class="mt-auto">
  <div class="container mt-4">
    <% unless body_class == 'welcome-index' %>
      <hr>
    <% end %>
    <div class="row text-center my-4">
      <div class="col-sm text-sm-left">
        <ul class="list-inline m-0">
          <li class="list-inline-item"><%= link_to "Contact", contact_path %></li>
          <li class="list-inline-item"><%= link_to "Terms", terms_path %></li>
          <li class="list-inline-item"><%= link_to "Privacy", privacy_path %></li>
          <li class="list-inline-item"><%= link_to "Pricing", pricing_path %></li>
        </ul>
      </div>
      <div class="col-sm text-sm-right">
        <p class="m-0">
          <%= t('welcome.footer.copyright_html') %>
        </p>
      </div>
    </div>
  </div>
</footer>
