<footer dir="ltr" class="navbar-footer mt-auto">
  <div class="container py-4">
    <% unless body_class == 'welcome-index' %>
      <hr class="mt-0 mb-4">
    <% end %>
    <div class="row text-center">
      <div class="col-sm text-sm-left">
        <ul class="list-inline m-0">
          <li class="list-inline-item"><%= link_to t(".contact"), contact_path %></li>
          <li class="list-inline-item"><%= link_to t(".terms"), terms_path %></li>
          <li class="list-inline-item"><%= link_to t(".privacy"), privacy_path %></li>
          <li class="list-inline-item"><%= link_to t(".pricing"), pricing_path %></li>

          <% unless user_signed_in? %>
            <li class="list-inline-item dropdown">
              <a class="dropdown-toggle" href="#" id="locale-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Language </span><span aria-hidden><span style="position:relative;top:-0.15em;font-size:0.9em">文</span>A</span></a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="locale-dropdown" data-turbolinks="false">
                <% User.locales.each do |key, value| %>
                  <%= link_to value, url_for(locale: key), class: 'dropdown-item' %>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="col-sm text-sm-right mt-3 mt-sm-0">
        <p class="m-0">
          <%= t('.copyright_html') %>
        </p>
      </div>
    </div>
  </div>
</footer>
