<nav dir="ltr" class="navbar navbar-expand-md mb-3 <%= body_class == 'welcome-index' ? 'navbar-dark' : 'navbar-light bg-light' %>">
  <div class="container px-0 px-sm-3 px-md-3">
    <%= link_to root_path, class: 'navbar-brand', style: 'line-height:1rem' do %>
      <%= fa_icon("camera") %> Picture
    <% end %>

    <button class="navbar-toggler border-0 px-0" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav w-100">
        <li class="nav-item<%= ' active' if body_class == 'pictures-new' %>">
          <%= link_to t('.upload'), new_picture_path, class: 'nav-link' %>
        </li>
        <li class="nav-item<%= ' active' if body_class == 'explore-index' %>">
          <%= link_to t('.explore'), explore_path, class: 'nav-link' %>
        </li>
        <% unless %w(welcome-index pictures-search).include? body_class %>
          <li class="nav-item ml-md-2 my-md-0 my-2">
            <%= render 'layouts/search' %>
          </li>
        <% end %>

        <% if user_signed_in? %>
          <li class="nav-item ml-md-auto my-md-0 my-2 dropdown d-flex align-items-center">
            <a class="nav-link dropdown-toggle p-0" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if current_user.avatar? %>
                <%= image_tag(current_user.avatar.thumb_url('60x60'), alt: 'avatar', class: 'rounded-circle', style: "vertical-align:bottom", width: 30, height: 30) %>
              <% else %>
                <span class="rounded-circle align-bottom d-inline-block text-white" style="background:#ccc">
                  <i class="fa fa-user-o align-top text-center" style="width:30px;height:30px;line-height:28px" aria-hidden="true"></i>
                </span>
              <% end %>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <h6 class="dropdown-header">
                Signed in as <strong><%= current_user.username %></strong>
              </h6>
              <% if current_user.admin? %>
                <div class="dropdown-divider"></div>
                <%= link_to 'Admin', admin_users_path, class: 'text-danger dropdown-item' %>
              <% end %>
              <div class="dropdown-divider"></div>
              <%= link_to 'Profile', current_user, class: 'dropdown-item' %>
              <%= link_to 'Pictures', user_pictures_path(current_user), class: 'dropdown-item' %>
              <%= link_to 'Albums', user_albums_path(current_user), class: 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <%= link_to 'Settings', edit_account_settings_path, class: 'dropdown-item' %>
              <%= link_to 'Sign out', destroy_user_session_path, method: 'delete', class: 'dropdown-item' %>
            </div>
          </li>
        <% else %>
          <li class="nav-item ml-md-auto text-right">
            <%= link_to t('devise.sessions.new.sign_in'), new_user_session_path, class: 'nav-link float-left' %>
          <% unless body_class == 'welcome-index' %>
              <%= link_to t('devise.registrations.new.sign_up'), new_user_registration_path, class: 'btn btn-outline-primary ml-2', role: 'button' %>
          <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
