<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= page_meta_tags %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= timeago_script_tag %>

    <% if body_class == 'users-show' %>
      <%= auto_discovery_link_tag(:atom) %>
    <% end %>
  </head>

  <body class="<%= body_class %>">
    <div class="wrapper d-flex flex-column">
      <% unless body_class == 'pictures-lightboxes-show' %>
        <%= render partial: 'layouts/navbar' %>
      <% end %>

      <div class="container">
        <% if alert %>
          <div class="alert alert-danger" role="alert"><%= alert %></div>
        <% end %>
        <% if notice %>
          <div class="alert alert-success" role="alert"><%= notice %></div>
        <% end %>

        <%= yield %>
      </div>

      <% unless body_class == 'pictures-lightboxes-show' %>
        <%= render partial: 'layouts/footer' %>
      <% end %>
    </div>
  </body>
</html>
